@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
    font-family: Montserrat;
}

a {
    color: #0f62fe;
}

.container {
    margin: 0;
}

.navbar {
    background-color: #fff;
}

@media (min-width: 576px) {
    .container {
        max-width: none;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: none;
    }
    .navbar-left {
        width: auto !important;
    }
}

@media (max-width: 768px) {
    .navbar-collapse {
        margin-top: 8px;
        border-top: 1px solid #e3e3e3;
    }
    #contentContainer1,
    #contentContainer2,
    #contentContainer3 {
        max-height: 300px !important;
    }
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    color: #0f62fe;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
    border: none;
    box-shadow: none;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.row-navbar {
    max-height: 400px;
    overflow-y: scroll;
}

.custom-toggler .icon-bar {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #333;
    border-radius: 5px;
    margin: 4px auto;
    transition: transform 0.3s, background-color 0.3s;
}

.custom-toggler.collapsed .icon-bar.top-bar {
    transform: none;
}

.custom-toggler.collapsed .icon-bar.middle-bar {
    opacity: 1;
}

.custom-toggler.collapsed .icon-bar.bottom-bar {
    transform: none;
}

.custom-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10%;
    top: 13px;
}

.custom-toggler .middle-bar {
    opacity: 0;
}

.custom-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 5%;
    top: -4px;
}

@media (max-width: 576px) {
    .col-xs-auto {
        flex: 0 0 auto;
        width: 100%;
    }
}

#contentContainer1::-webkit-scrollbar,
#contentContainer2::-webkit-scrollbar,
#contentContainer3::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#contentContainer1,
#contentContainer2,
#contentContainer3 {
    border-top: 2px solid #e3e3e3;
    border-bottom: 2px solid #e3e3e3;
    background: #fff;
    height: 600px;
    overflow: hidden;
    overflow-y: scroll;
}

#navbar-fill {
    margin-top: 58px;
}

.information-link {
    top: 80px;
}

.main-container,
.information-container {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    border-bottom: 1px solid gray;
}

#linkList1,
#linkList2,
#linkList3 {
    background-color: #fff;
    padding: 8px;
    list-style: none;
    text-align: left;
    /* border-right: 1px solid #e2e2e2; */
    height: 100%;
}


/* #linkList1 li,
#linkList2 li,
#linkList3 li {
    border-bottom: 1px solid #ccc;
}

#linkList1 li:last-child,
#linkList2 li:last-child,
#linkList3 li:last-child {
    border-bottom: none;
} */

#linkList1 li a,
#linkList2 li a,
#linkList3 li a {
    text-decoration: none;
    color: #333;
    padding: 8px;
    display: block;
}

#linkList1 li a.active,
#linkList2 li a.active,
#linkList3 li a.active {
    border: 2px solid #0f62fe;
    background-color: #e0e0e0;
}

#linkList1 li a:hover,
#linkList2 li a:hover,
#linkList3 li a:hover {
    background-color: #e0e0e0;
}

.fa-caret-down {
    transition: transform 0.7s;
    transform: rotate(0deg);
}

.navInnerContainer1 {
    overflow-y: scroll;
}

.nav-link .expanded {
    transition: transform 0.7s;
    transform: rotate(180deg);
}

ul {
    margin-bottom: 0px;
}

#linkList1 li a:hover {
    background-color: #d9d9d9;
}

.contentDisplay {
    display: none;
    opacity: 0;
    max-height: 580px;
    overflow: hidden;
    overflow-y: scroll;
    transition: opacity 0.7s ease;
}

.contentDisplay::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.contentDisplay.active {
    display: block;
    opacity: 1;
    margin: 8px;
    transition: opacity 0.7s ease;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 12px;
}

.grid-item {
    background-color: #fff;
    padding: 10px;
}

.grid-item:hover {
    background-color: #e0e0e0;
}

.grid-item-container {
    font-size: 14px;
}


/* Search Box CSS */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background: #fff;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border-radius: 4px;
}

.modal-content {
    background: #fff;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border-radius: 4px;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    cursor: pointer;
}


/* Additional styles for the input and button inside the modal */

#search-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#search-button {
    background-color: #0f62fe;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-result {
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.search-result:last-child {
    border-bottom: 0px;
}

.search-result span {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #0f62fe;
    font-weight: bold;
}

#search-results {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.no-results-message {
    padding: 10px;
}

.footer-section a {
    text-decoration: none;
}


/* sidebar styles */

.list-container {
    display: flex;
}

.list-container ul {
    list-style: none;
    padding: 0;
}

.list-container li {
    cursor: pointer;
    padding: 10px;
    border-left: 3px solid #ccc;
}

.item-content {
    margin-left: 10px;
}

.list-container li.active {
    background-color: #f0f0f0;
    border-left: 3px solid #0f62fe;
    color: #0f62fe;
}

.section-content {
    margin: 2rem auto;
}

.section-content:first-child {
    margin-top: 0;
}

#section2 .grid-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 12px;
}

#section2 .grid-item {
    border-radius: 12px;
    padding: 30px 20px;
}

.no-underline {
    text-decoration: none;
}

#section3 .grid-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 12px;
}

#section3 .grid-item {
    border-radius: 12px;
    margin: 15px 0;
    padding: 20px;
}

#section4 .nav-link {
    color: black;
}

#section4 .nav-link.active {
    color: black;
    font-weight: bold;
    border-bottom: 2px solid #0f62fe;
    /* Change the color to your preference */
}

#section4 .nav-tabs {
    flex-wrap: nowrap;
    overflow-x: auto;
}

#section4 .nav-tabs::-webkit-scrollbar {
    width: 0;
    height: 0;
}